<div bsModal #customAlertBoxModal="bs-modal" class="modal fade showChips" tabindex="-1" role="dialog"
    aria-labelledby="customAlertBoxModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DELETE</h5>
                <button aria-label="Close" class="close" type="button">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                Demo
            </div>
        </div>
    </div>
</div>